name: Clippy Lint and Check
on: [pull_request]
env:
  CARGO_TERM_COLOR: always
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions-rs/toolchain@v1
      name: Install Rust Toolchain
      with:
        toolchain: nightly
        components: clippy
        override: true

    - uses: Swatinem/rust-cache@v2
      name: Add caching

    - uses: actions-rs/clippy-check@v1
      name: Lint and Check codebase with Clippy
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features --verbose
